@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f6f7ff;
}

.wrapper {
  max-width: 700px;
  margin: 50px auto;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
